<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="
      <% root_path %>">
      <%= image_tag("logo.png", :alt => "rss feed", size: 64) %>

    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Question</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Discussion</a>

    </ul>
    <form class="form-inline my-2 my-lg-0 mx-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search KTIC" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <% if user_signed_in? %>

      <%= link_to fa_icon("info", class: "info"), "#", class: "icon_for_log_in" %>
      <%= link_to fa_icon("bell-o", class: "bell"), "#", class: "icon_for_log_in" %>
      <%= link_to fa_icon("edit", class: "info"), "#", class: "icon_for_log_in" %>
      <div class="dropdown">
        <%= image_tag("user_avatar_default.png", class: " dropbtn avatar avatar--md rounded-circle el-popover__reference img_user", size: 40, onclick: "myFunction();") %>
        <div id="myDropdown" class="dropdown-content">
          <div class="user-menu__top d-flex justify-content-between">
            <img src="https://cdn.viblo.asia/_nuxt/img/0bca52a.png" class="avatar rounded-circle" style="height:70px;width:70px;">
            <div class="flex-fill overflow-hidden">
              <div class="user-menu__info">
                <div class="text-primary font-weight-bold text-truncate">
                  Nguyen Hung
                </div>
                <div class="text-muted text-truncate">
                  @nguyenbahung
                </div>
              </div>
              <a href="#" target="_blank">
                <button type="button" class="btn-primary">
                    Edit
                </button>
              </a></div>
          </div>
          <a href="#about">About</a>
          <hr>
          <%=link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <%= link_to fa_icon("user", text: "Sign In/Sign Up", class: "user"), new_user_session_path, class: "icon_for_log_in" %>
    <% end %>
  </div>
</nav>
